image:
  registry: docker.io
  repository: traefik
  tag: "v3.3.6"

deployment:
  kind: Deployment

updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 0
    maxSurge: 1


ports:
  web:
    port: 8000
    exposedPort: 80
    expose:
      default: true
    nodePort: 30080
  websecure:
    port: 8443
    exposedPort: 443
    expose:
      default: true
    nodePort: 30443

logs:
  general:
    level: INFO
  access:
    enabled: true
    format: json
    fields:
      headers:
        defaultmode: keep

metrics:
  prometheus:
    entryPoint: metrics

gateway:
  enabled: false

ingressClass:
  enabled: true
  isDefaultClass: true
  name: traefik

providers:
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true
    nativeLBByDefault: false
  kubernetesIngress:
    enabled: true
    ingressClass: traefik
    publishedService:
      enabled: true
    nativeLBByDefault: false
  kubernetesGateway:
    enabled: false

ingressRoute:
  dashboard:
    enabled: true
    entryPoints: ['web']

service:
  type: NodePort

globalArguments:
  - '--api.insecure=true'

additionalArguments:
  - '--providers.kubernetescrd.allowcrossnamespace=true'

core:
  defaultRuleSyntax: v2

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    memory: 128Mi

affinity: {}
