image:
  registry: docker.io
  repository: traefik
  tag: "v3.6.8"

deployment:
  kind: Deployment

updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 0
    maxSurge: 1


ports:
  web:
    port: 8000
    exposedPort: 80
    expose:
      default: true
    nodePort: 30080
  websecure:
    port: 8443
    exposedPort: 443
    expose:
      default: true
    nodePort: 30443

logs:
  general:
    level: INFO
  access:
    enabled: true
    format: json
    fields:
      headers:
        defaultmode: keep

metrics:
  prometheus:
    entryPoint: metrics

gateway:
  enabled: false

ingressClass:
  enabled: true
  isDefaultClass: true
  name: traefik

providers:
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true
    nativeLBByDefault: false
  kubernetesIngress:
    enabled: true
    ingressClass: traefik
    publishedService:
      enabled: true
    nativeLBByDefault: false
  kubernetesGateway:
    enabled: false

ingressRoute:
  dashboard:
    enabled: true
    entryPoints: ['web']

service:
  type: NodePort

additionalArguments:
  - '--api.insecure=true'
  - '--providers.kubernetescrd.allowcrossnamespace=true'

extraObjects:
  - apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRole
    metadata:
      name: traefik-configmap-reader
    rules:
      - apiGroups: [""]
        resources: ["configmaps"]
        verbs: ["get", "list", "watch"]
  - apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRoleBinding
    metadata:
      name: traefik-configmap-reader-binding
    roleRef:
      apiGroup: rbac.authorization.k8s.io
      kind: ClusterRole
      name: traefik-configmap-reader
    subjects:
      - kind: ServiceAccount
        name: traefik
        namespace: traefik

core:
  defaultRuleSyntax: v2

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    memory: 128Mi

affinity: {}
