image:
  tag: "v3.3.6"

deployment:
  kind: DaemonSet

updateStrategy:
  rollingUpdate:
    maxUnavailable: 2
    maxSurge: 0

logs:
  general:
    level: INFO
    format: json
  access:
    enabled: true
    format: json
    fields:
      headers:
        defaultmode: keep

metrics:
  datadog: {}

gateway:
  enabled: false

core:
  defaultRuleSyntax: v2

ingressClass:
  enabled: true
  isDefaultClass: true
  name: traefik

providers:
  kubernetesIngress:
    ingressClass: traefik
    publishedService:
      enabled: true

ingressRoute:
  dashboard:
    enabled: true
    entryPoints: ["websecure"]


globalArguments:
  - "--api.insecure=true"

additionalArguments:
  - "--providers.kubernetescrd.allowcrossnamespace=true"

affinity: {}
resources:
  limits:
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 128Mi
