apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Logging & Monitoring
  # - prometheus-operator-crds/application.yaml
  # - prometheus/application.yaml
  # - loki/application.yaml
  # - prometheus-node-exporter/application.yaml
  # - grafana/dashboards/argo-cd.yaml
  # Secrets
  # - sealed-secrets/application.yaml
  # queue
  - rabbit-mq/application.yaml
  - rabbit-mq/job.yaml
  - rabbit-mq/rabbitmq-credentials.yaml
  - rabbit-mq/rabbitmq-definitions.yaml
  # Backup
  # - velero/application.yaml
  # - velero/backup-argocd.yaml
  # - minio/application.yaml
  # - traefik/application.yaml
  - nginx/application.yaml
  - httpbin/application.yaml
  - gitlab/application.yaml
