apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: atu-simulation
  namespace: argocd # somehow this has to be argocd for the apps to be displayed in the ui
spec:
  project: default
  source:
    path: infra/nginx
    repoURL: https://github.com/Fettah/monitoring-logging-stack
    targetRevision: main
  destination:
    server: https://kubernetes.default.svc
    namespace: nginx
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
