apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rabbitmq
  namespace: argocd
spec:
  project: default
  source:
    path: infra/rabbit-mq
    repoURL: https://github.com/Fettah/monitoring-logging-stack
    targetRevision: main
    kustomize:
      nameSuffix: -dev
      commonAnnotations:
        argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    helm:
      releaseName: rabbitmq
      valueFiles:
        - values.yaml
      parameters:
        - name: 'auth.username'
          value: admin_user
        - name: 'auth.existingPasswordSecret'
          value: rabbitmq-credentials
        - name: 'auth.existingPasswordSecretPasswordKey'
          value: password
        - name: 'image.registry'
          value: docker.io
        - name: 'image.repository'
          value: bitnamilegacy/rabbitmq
        - name: 'image.tag'
          value: 4.0.4-debian-12-r1
        - name: 'service.type'
          value: ClusterIP
        - name: 'service.ports.http'
          value: '15672'

  destination:
    namespace: rabbitmq
    name: in-cluster
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
