apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rabbitmq
  namespace: argocd
spec:
  project: default
  source:
    chart: rabbitmq
    repoURL: registry-1.docker.io/bitnamicharts
    targetRevision: 15.1.0
    helm:
      values: |-
        image:
          registry: docker.io
          repository: bitnamilegacy/rabbitmq
          tag: 4.0.4-debian-12-r1

        auth:
          username: admin_user
          existingPasswordSecret: rabbitmq-credentials
          existingPasswordSecretPasswordKey: rabbitmq-password

        # Configure service for Traefik
        service:
          type: ClusterIP
          ports:
            http: 15672  # Management UI port
          annotations: {}

  destination:
    namespace: rabbitmq
    name: in-cluster
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
