apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rabbitmq
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://charts.bitnami.com/bitnami
    targetRevision: 15.1.0
    chart: rabbitmq
    helm:
      releaseName: rabbitmq
      valueFiles:
        - values.yaml
      parameters:
        - name: 'auth.username'
          value: admin_user
        - name: 'auth.existingPasswordSecret'
          value: rabbitmq-credentials
        - name: 'auth.existingPasswordSecretPasswordKey'
          value: password
        - name: 'auth.existingErlangSecret'
          value: rabbitmq-erlang-cookie

  destination:
    namespace: rabbitmq
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
