image:
  registry: docker.io
  repository: bitnamilegacy/rabbitmq
  tag: 4.0.4-debian-12-r1

auth:
  username: admin_user
  existingPasswordSecret: rabbitmq-credentials
  existingPasswordSecretPasswordKey: rabbitmq-password

service:
  type: ClusterIP
  ports:
    http: 15672 # Management UI port
  annotations: {}

# Enable persistence
persistence:
  enabled: true
  size: 8Gi

# Enable Prometheus metrics
metrics:
  enabled: true
  serviceMonitor:
    enabled: true
    namespace: monitoring

# Enable the management plugin
communityPlugins: 'https://github.com/rabbitmq/rabbitmq-delayed-message-exchange/releases/download/3.12.0/rabbitmq_delayed_message_exchange-3.12.0.ez'

extraPlugins: 'rabbitmq_management rabbitmq_management_agent rabbitmq_delayed_message_exchange'

extraConfiguration: |
  management.load_definitions = /app/load_definition.json

extraVolumes:
  - name: definitions
    secret:
      secretName: rabbitmq-definitions
      defaultMode: 420

extraVolumeMounts:
  - name: definitions
    mountPath: /app/load_definition.json
    subPath: definitions.json
